GlobalStateProvider

      VueWrapper(component=NavBar title='首页' left-text='返回' left-arrow='' @click-left='onClickLeft' @click-right='onClickRight')

      .fade-enter-active.container
        //- Navbar(title='首页', hasBackBtn=false)

        if !loaded
          Placeholder(css='m2 pt2')
        else
          div.pt2
            //- Count1(showGreeting, name='xjp')
            Count2
          //-   p #{props.userAgent}
          //-   p #{props.users[0].name}
          //- AddPlanModal
